@model WebApplicationMVCPractice.Models.BanksCustomer

<div>
    <h4>Customers Personal Details</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fund)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fund)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserRole)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionPassword)
        </dd>

    </dl>
</div>
<p>
    <div class="btn btn-secondary">@Html.ActionLink("Back to List", "Index")</div>
</p>